<h3 align="center">{{ course.name }}</h3>
<p align="center">{{ course.description }}</p>
<div class="embed-responsive embed-responsive-16by9 adjust-size">
  <iframe class="embed-responsive-item" [src]="course.uri | safe" allowfullscreen></iframe>
</div>
<button class="middle" mat-raised-button color="primary" (click)="certificate()">Complete course</button>
