<h1 align="center">Report for this month</h1>
<table #dataTable class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>No of users enrolled</th>
      <th>Review</th>
    </tr>
</thead>
<tbody>
</tbody>
<tfoot>
  <tr>
    <th>Name</th>
    <th>No of users enrolled</th>
    <th>Review</th>
  </tr>
</tfoot>
</table>
