<h1 mat-dialog-title align="center">Review a course</h1>
<mat-divider></mat-divider>
<p></p>

<div class="example-full-width">
  <mat-dialog-content align="center">
    <form #form="ngForm">
      <mat-form-field>
        <textarea name="comment" matInput [(ngModel)]="user.comment" #comment="ngModel" required placeholder="Comment"></textarea>
        <mat-error *ngIf="comment.invalid">Comment must be present</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="closeMe(form)" [disabled]="form.invalid" class="button">Add comment</button>
  </mat-dialog-actions>
</div>
